body{
    background-color: green;
}
@font-face {
    font-family: normal;
    src: url(FoundersGrotesk-Semibold.woff2);
    font-weight: normal;
}
@font-face {
    font-family: regular;
    src: url(cardinalfruitweb-regular.woff2);
}
@font-face {
    font-family: bold;
    src: url(FoundersGroteskCondensed-Bold.woff2);
}
.container-fluid a{
    font-family: normal;
    font-size: 20px;
    margin-left: 35px;
    overflow: hidden;
}
a:hover{
    color: yellow;
}
.container-fluid a:hover{
    color: yellow;
}
.dropdown-menu{
    overflow: hidden;
}
.sub{
    border-radius: 30px;
    width: 180px;
    height: 40px;
    margin-left: 40px;
    border: none;
    font-family: normal;
    font-size: 22px;
    background-color: transparent;
    background-color: yellow;
    box-shadow: 2px 1px 20px yellow,
    1px 2px 20px yellowgreen;
    margin-top: 5px;
}
.main-1{
    position: absolute;
}
.carousel-item h1,p{
    color: white;
    margin-left: 20px;
}
.carousel-item h1{
    font-family: bold;
    font-size: 60px;
    text-align: center;
    line-height: 50px;
    margin-top: 100px;
}
@font-face {
    font-family: ita;
    src: url(cardinalfruitweb-regular.woff2);
}
.carousel-item p{
    font-size: 20px;
    font-family: ita;
    margin-left: 30px;
    margin-top: 10px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.next{
    height: 60px;
    margin-left: 40px;
    width: 250px;
    margin-top: 20px;
    background-color: yellow;
    border-radius: 10px;
    font-family: normal;
    letter-spacing: 0.5px;
    font-size: 20px;
    box-shadow: 1px 2px 10px yellow,
    1px 2px 30px yellowgreen;
    border: none;
}

h2{
    color: white;
}
.card{
    border-radius: 20px;
}
.card h5{
    color: white;
}
.card p{
    color: aqua;
}




/* @media screen and (max-width:600px) {
    .navbar{
        min-width: 200px;
        text-align: center;
        overflow: hidden;
        font-size: 14px;
    }
    .navbar p{
        text-align: center;
    }
    body{
        min-height: 50vh;
        min-width: 300px;
        overflow-x: hidden;   
        min-height: fit-content; 
        min-width: fit-content;
        overflow-y: hidden;
    }
    html{
        overflow: hidden;
    }
    .main1{
        overflow: hidden;
        max-width: 300px;
        overflow-y: hidden;
        overflow-x: hidden;
        min-height: fit-content;
    }
    .list-sub{
        display: none;
    }
    .main1 i{
        display: block;
    }
    .list-sub{
        max-width: 200px;
        position: absolute;
        z-index: 10;
        max-height: 110vh;
        overflow-y: scroll;
    }
    .main{
        position: absolute;
    }

    p{
        max-width: 350px;
    }
    .qustion3-div{
        margin-top: 70px;
        max-width: 300px;
    }
    .numer-system{
        overflow-y: hidden;
        width: fit-content;
        display: none;
        min-width: fit-content;
        overflow-x: hidden;
    }
    .main1{
        max-width: 300px;
    }
   .option-div{
    max-width: 300px;
   }
   .qustion1-div{
    min-height: 46vh;
    max-width: 300px;
    
   }
   .ans1-div{
    width: 500px;
   }
   .option2-div{
    max-width: 300px;
   }
   .qustion2-div{
    min-height: 44vh;
    max-width: 300px;
   }
   .option3-div{
    max-width: 300px;
   }
   .qustion3-div{
    min-height: 40vh;
   }
   .option4-div{
    max-width: 300px;
    min-width: 300px;
   
   }
   .qustion4-div{
    min-height: 40vh;
   }
   .option5-div{
    max-width: 300px;
    min-width: 300px;
    
   }
   .qustion5-div{
    min-height: 40vh;

   }
   .option6-div{
    max-width: 300px;
    min-width: 300px;
   }
   .qustion6-div{
    min-height: 40vh;
    min-width: 300px;
   }
   .option7-div{
    max-width: 300px;
   }
   .qustion7-div{
    min-height: 40vh;
    min-width: 300px;
   }
   .option8-div{
    max-width: 300px;
    min-width: 300px;
   }
   .qustion8-div{
    min-height: 40vh;
   }
   .option9-div{
    min-width: 300px;
    max-width: 300px;
   }
   .qustion9-div{
    min-height: 40vh;
   }
   .option10-div{
    max-width: 300px;
    min-width: 300px;
   }
   .qustion10-div{
    min-height: 40vh;
   }
   .option11-div{
    max-width: 300px;
    min-width: 300px;
   }
   .qustion11-div{
    min-height: 40vh;
   }
   .option12-div{
    max-width: 300px;
    min-width: 300px;
   }
   .qustion12-div{
    min-height: 40vh;
   }
   .option13-div{
    max-width: 300px;
    min-width: 300px;
   }
   .qustion13-div{
    min-height: 40vh;

   }
   .option14-div{
    max-width: 300px;
    min-width: 300px;
   }
   .qustion14-div{
    min-height: 40vh;
   }
   .option15-div{
    max-width: 300px;
   }
   .qustion15-div{
    min-width: 300px;
    min-height: max-content;
    min-height: 62vh;
   }
} */